// /* 28 Cols */
$cols: 28;
$perc: (math.div(1, $cols) * 100%);

/* Grid */
@mixin grid {
  display: grid;
  grid-template-columns: $perc;
  grid-template-rows: auto;
  grid-auto-columns: $perc;
}

@function span($n) {
  @return (math.div($n, $cols) * 100vw);
}
