@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos&display=swap');

@font-face {
  font-family: 'LemondeLivreBold';
  src: url('https://use.typekit.net/wes8pxx.css');
  font-weight: normal;
  font-style: normal;
}

// Fluid Type
@function strip-unit($value) {
  @return math.div($value, ($value * 0 + 1));
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: math.unit($min-vw);
  $u2: math.unit($max-vw);
  $u3: math.unit($min-font-size);
  $u4: math.unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            math.div((100vw - #{$min-vw}), #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min: 320px;
$max: 1280px;


// Typography
h1,
h2,
h3
{
  font-family: $lemonde-livre-bold;
}

h4{
  font-family: $lemonde-livre-bold;
}

h5 {
  // font-family: $gotham-bold;
  font-family: $montessarat;
  font-weight: 700;
  // letter-spacing: 0.025em;
  // line-height:$h5-line-height;
  // line-height: 1em;
}

h6{
  // font-family: $gotham-bold;
  font-family: $montessarat;
  font-weight: 700;
  &.uppercased{
    text-transform: uppercase;
  }
}


//MOBILE
h1{
  line-height: 1.39em;
  @include fluid-type($min, $max, 46px, 92px);
}


//TODO NO SPOTS ON PAGE
h2{
  line-height: 1.39em;
  @include fluid-type($min, $max, 46px, 92px);
}

h3{
  line-height: 1.39em;
  @include fluid-type($min, $max, 46px, 92px);
}


h4{
  line-height: 1.30em;
  @include fluid-type($min, $max, 23px, 46px);
}

h5{
  line-height: 1em;
  @include fluid-type($min, $max, 23px, 46px);
}


h6{
  line-height: 2em;
  @include fluid-type($min, $max, 12px, 24px);

  &.spread{
    text-transform: uppercase;
    letter-spacing: 0.4em;
  }
}


p, .v-select, a, .text-link, li, body, li, button {
  font-family: $montessarat;
  line-height: 1.71em;
  text-transform: none;
  font-weight: 400;
  @include fluid-type($min, $max, 14px, 16px);

  &.spread{
    font-family: $montessarat;
    letter-spacing: 0.4em;
    line-height: 2em;
    text-transform: uppercase;
    font-weight: 700;
    @include fluid-type($min, $max, 12px, 16px);

    &.small {
      line-height: 15px;
    }

    &.large {
      line-height: 24px;
    }
  }

  &.small {
    line-height: 1em;
    font-family: $montessarat;
    font-weight: 500;
    @include fluid-type($min, $max, 12px, 16px);
  }

  &.mega-small{
    line-height: 1em;
    font-family: $montessarat;
    font-weight: 500;
    @include fluid-type($min, $max, 9px, 13px);
  }

  a {
    font-size: inherit;
    line-height: inherit;
    color: $deep-blue;
    text-decoration: none;

    &:hover {
      // NOTE:: don't move this :hover into the @include can-hover because
      // we'll have to override this on every component like underline-btn etc.
      text-decoration: underline;
    }
  }
}


label {
  line-height: 2em;
  text-transform: uppercase;
  font-family: $montessarat;
  font-weight: 700;
  @include fluid-type($min, $max, 12px, 16px);

  &.small {
    font-size: 12px;
  }
}

strong {
  font-weight: bold;
}

.semibold {
  font-family: $montessarat;
  font-weight: 400;
}

.bold {
  font-family: $montessarat;
  font-weight: 700;
}

input{
  line-height: 1em;
  // font-family: $gotham-medium;
  font-family: $montessarat;
  font-weight: 500;
  @include fluid-type($min, $max, 12px, 16px);
}

/*************************************************
HEADERS
*************************************************/


@include respond-to($tablet) {
  h1 {
    line-height: 126px;
  }

  h2 {
    line-height: 110px;
  }

  h3 {
    line-height: 1.38em;
  }

  h4 {
    line-height: 1.39em;
  }
  h5{
    line-height: 1em;
  }
  h6{
    line-height: 1em;
    &.spread{
      text-transform: uppercase;
      letter-spacing: 0.4em;
    }
  }

  p, textarea, a, .text-link, li, input {
    line-height: 1.41em; 

    &.spread{
      line-height: 1.5em; 
      // text-transform: uppercase;
      // letter-spacing: 0.8em;
    }
  }
}

